
body {
  background-color: turquoise;
  height: auto;
  margin: 0px;
  font-family: 'Libre Franklin', sans-serif;
}
body::-webkit-scrollbar{
  position: relative;
  background: -webkit-linear-gradient(darkblue, cyan,cyan,cyan,cyan,cyan,darkblue,darkblue,darkblue,darkblue,cyan,cyan,cyan,cyan,cyan,cyan,cyan,darkblue,darkblue,darkblue,darkblue,darkblue,darkblue,cyan,cyan,cyan,cyan,cyan,cyan,cyan ,cyan,cyan,cyan,cyan,cyan,black,black,black,black,black);
  width: 1.5rem;
  border-radius: 0.1rem;
}
body::-webkit-scrollbar-track{
  border: 1px solid gray;
  border-radius: 0.1rem;
}
body::-webkit-scrollbar-thumb {
  background: -webkit-linear-gradient(blue, yellow);
  border-radius: 4rem;
  border: 3px solid black;
}
header {
  background-color: darkblue;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 3rem;
  position: fixed;
}
a{
  text-decoration: none;
  color: white;
}
a:hover{
  color: blue;
  text-decoration-color: black;
  text-shadow: 2px 1px 1px black;
}
#ul {
  position: relative;
  display: none;
  width: 4rem;
  height: 6rem;
  top: -0.75rem;
  left: -1.05rem;
  flex-direction: column;
  background-color: darkblue;
}
#meny {
  display: flex;
  width: 4rem;
  margin: 3px;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: auto;
}
#meny:hover{
  cursor: pointer;
}
header > #meny > span{
  display: block;
  position: relative;
  background-color: white;
  width: 2.5rem;
  height: 0.5rem;
  margin: 0.2rem;
  border-radius: 2rem;
  /*från julldryck Alex*/
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0), background 0.5s cubic-bezier(0.77,0.2,0.05,1.0), opacity 0.55s ease;
}
header > #meny > span:first-child{
	transform-origin: 0% 0%;
}
header > #meny > span:nth-child(2){
	transform-origin: 0% 100%;
}
header > #meny[data-status="true"] > span{
	opacity: 1;
	transform: rotate(45deg) translate(1px, 0px);
	background-color: black;
}
header > #meny[data-status="true"] > span:nth-child(2){
	opacity: 0;
	transform: rotate(0deg) scale(0.2, 0.2);
}
header > #meny[data-status="true"] > span:nth-child(3){
	transform: rotate(-45deg) translate(-3px, -4px);
}
#section1 {
  height: 57.5rem;
  display: flex;
  flex-direction: column-reverse;
}
#sd1 {
  height: 3rem;
}
#section2 {
  height: 31.25rem;
  width: 100%;
  background-image: linear-gradient(to bottom right, blue ,black);
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 15px black;
}
#InfoContainer{
  width: 86rem;
  margin: auto;
  display: flex;
}
#HeaderContainerSection2{
  display: flex;
  align-items: center;
  padding-right: 10px;
  border-right: solid;
  border-color: white;
  height: 25rem;
}
#HeaderSection2{
  color: white;
  font-size: 13rem;
  font-weight: 500;
}
#InfoContainerSection2{
  padding-left: 40px;
}
#TextSection2{
  color: white;
  font-size: 2.5rem;
}
#tomsd2{
  height: 0;
  position: relative;
  top:13rem;
}
#section3{
  height: 61rem;
  display: flex;
  flex-direction: column-reverse;
}
#tomsd3{
  position: relative;
  top:3rem;
}

.StorBildContainer{
  width: 45%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.TextContainer{
  width: 55%;
  padding-right: 3rem;
}
.ListRubrik{
  color: white;
  font-size: 4rem;
}
.ListText{
  color: white;
  font-size: 1.7rem;
}

#Section3Version1, #Section3Version2, #Section3Version3, #Section3Version4, #Section3Version5{
  display: flex;
  width: 86rem;
  height: 45.75rem;
  background-color: red;
  margin: auto;
}
#Section3Version2, #Section3Version3, #Section3Version4, #Section3Version5{
  display: none;
}

#ArtikelVäljare3, #ArtikelVäljare5, #ArtikelVäljare6{
  width: 86%;
  height: 15.25rem;
  background-color: orange;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
#ArtikelVäljare5{
  margin-left: 14%;
}
.ArtikelBild{
  height: 90%;
  width: 17%;
}

#section4 {
  height: 55rem;
  background-image: linear-gradient(to bottom right, blue ,black);
  box-shadow: 0 0 15px black;
}
#ContainerSection4{
  width: 76rem;
  height: 100%;
  margin: auto;
}
#RubrikSection4{
  color: white;
  font-size: 7rem;
  margin-top: 0;
  margin-left: 2rem;
  margin-bottom: 0rem;
  font-weight: 500;
}
#BoxContainerSection4{
  width: 100%;
  height: 41rem;
  margin-top: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.BoxSection4{
  width: 32%;
  height: 48%;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.BildSection4{
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
}
.TextSection4{
  font-size: 1rem;
  margin-left: 1rem;
  font-weight: 600;
}
#section5{
  height: 61rem;
}
#Section5Version1, #Section5Version2, #Section5Version3, #Section5Version4, #Section5Version5{
  display: flex;
  width: 86rem;
  height: 45.75rem;
  background-color: red;
  margin: auto;
}
#Section5Version2, #Section5Version3, #Section5Version4, #Section5Version5{
  display: none;
}
#section6{
  height: 61rem;
}
#Section6Version1, #Section6Version2, #Section6Version3, #Section6Version4, #Section6Version5{
  display: flex;
  width: 86rem;
  height: 45.75rem;
  background-color: red;
  margin: auto;
}
#Section6Version2, #Section6Version3, #Section6Version4, #Section6Version5{
  display: none;
}

footer {
  height: 37rem;
  background-color: black;
  display: flex;

}
footer > aside{
  width: 50%;
  color: white;
  align-items: center;
  display: flex;
}
.left-side{
  font-size: 2rem;
  font-variant: small-caps;
  justify-content: center;
}
.left-side > p{
  margin-right: 1rem;
  margin-left: 1rem;
}
.left-side > p:hover{
  cursor: wait;
  text-decoration: underline;
}
.right-side{
  flex-direction: column;
}
.right-side > p:first-child{
  margin-bottom: 2rem;
}
.right-side > p:nth-child(3), .right-side > p:nth-child(4), .right-side > p:nth-child(2){
  margin-bottom: 0;
}
.right-side > p:last-child, .right-side > p:nth-last-child(2), .right-side > p:nth-child(5){
  margin-top: 0;
}
