body {
  background-color: turquoise;
  height: 387.5rem;
  margin: 0px;
  font-family: 'Libre Franklin', sans-serif;
}

#section2 {
  height: 31.25rem;
  width: 100%;
  background-image: linear-gradient(to bottom right, blue ,black);
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 15px black;
}
#InfoContainer{
  width: 86rem;
  margin: auto;
  display: flex;
}
#HeaderContainerSection2{
  display: flex;
  align-items: center;
  padding-right: 10px;
  border-right: solid;
  border-color: white;
  height: 25rem;
}
#HeaderSection2{
  color: white;
  font-size: 13rem;
  font-weight: 500;
}
#InfoContainerSection2{
  padding-left: 40px;
}
#TextSection2{
  color: white;
  font-size: 2.5rem;
}
#section3{
  height: 61rem;
}

.StorBildContainer{
  width: 45%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.TextContainer{
  width: 55%;
  padding: 1rem;
}
.ListRubrik{
  color: white;
  font-size: 4rem;
}
.ListText{
  color: white;
  font-size: 1.5rem;
}

#Section3Version1, #Section3Version2, #Section3Version3, #Section3Version4, #Section3Version5{
  display: flex;
  width: 86rem;
  height: 45.75rem;
  background-color: red;
  margin: auto;
}
#Section3Version2, #Section3Version3, #Section3Version4, #Section3Version5{
  display: none;
}

#ArtikelVäljare3, #ArtikelVäljare5, #ArtikelVäljare6{
  width: 86%;
  height: 15.25rem;
  background-color: orange;
  display: flex;
  justify-content: center;
  align-items: center;
}
#ArtikelVäljare5{
  margin-left: 14%;
}
.ArtikelBild{
  height: 90%;
  width: 17%;
}

#section4 {
  height: 55rem;
  background-image: linear-gradient(to bottom right, blue ,black);
  box-shadow: 0 0 15px black;
}
#ContainerSection4{
  width: 86rem;
  height: 100%;
  margin: auto;
}
#RubrikSection4{
  color: white;
  font-size: 7rem;
  margin-top: 0;
  margin-left: 2rem;
  margin-bottom: 0rem;
  font-weight: 500;
}
#BoxContainerSection4{
  width: 100%;
  height: 41rem;
  margin-top: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.BoxSection4{
  width: 32%;
  height: 48%;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.BildSection4{
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
}
.TextSection4{
  font-size: 1rem;
  margin-left: 1rem;
  font-weight: 600;
}
#section5{
  height: 61rem;
}
#Section5Version1, #Section5Version2, #Section5Version3, #Section5Version4, #Section5Version5{
  display: flex;
  width: 86rem;
  height: 45.75rem;
  background-color: red;
  margin: auto;
}
#Section5Version2, #Section5Version3, #Section5Version4, #Section5Version5{
  display: none;
}
#section6{
  height: 61rem;
}
#Section6Version1, #Section6Version2, #Section6Version3, #Section6Version4, #Section6Version5{
  display: flex;
  width: 86rem;
  height: 45.75rem;
  background-color: red;
  margin: auto;
}
#Section6Version2, #Section6Version3, #Section6Version4, #Section6Version5{
  display: none;
}

footer {
  height: 37rem;
  background-color: blue;
}
